<div class="profile-user-info profile-user-info-striped" >
	<div class="profile-info-row">
		<div class="profile-info-name">角色名称</div>
		<div class="profile-info-value width-85">
			<span class="editable editable-click">${sysrole.name!}</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">归属机构</div>
		<div class="profile-info-value">
			<span class="editable editable-click">
				@var roleOffice = office.getOfficeStrByOfficeId(sysrole.officeId);
				@if(!isEmpty(roleOffice)){
				&nbsp;(${roleOffice})
				@}
			</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">数据范围</div>
		<div class="profile-info-value">
			<span class="editable editable-click">
			<#dict dictMode="showName" value="${sysrole.dataScope!}" type="sys_data_scope"/>
			</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">分配的人员</div>
		<div class="profile-info-value">
			@for(user in users){
				<a href="javascript:void(0);" title="<${user.name!}>详情"
					data-title="<${user.name!}>详情" data-mode="detail"
					data-url="${rootPath}/sysuser/detail/showlayer"
					data-data="{id:'${user.id}'}"
					data-width="600" data-height="477"
				>${user.name!}
					${decode(userLP.last,false,'，','')}
				</a>
			@}
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">拥有的权限</div>
		<div class="profile-info-value">
			<span class="editable editable-click">
				@for(resource in resources){
					${resource.name!}
					${decode(resourceLP.last,false,'，','')}
				@}
			</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">创建者</div>
		<div class="profile-info-value">
			<span class="editable editable-click">${sysrole.createBy!}</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">创建时间</div>
		<div class="profile-info-value">
			<span class="editable editable-click">${sysrole.createDate!}</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">更新者</div>
		<div class="profile-info-value">
			<span class="editable editable-click">${sysrole.updateBy!}</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">更新时间</div>
		<div class="profile-info-value">
			<span class="editable editable-click">${sysrole.updateDate!}</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">描述</div>
		<div class="profile-info-value">
			<span class="editable editable-click">${sysrole.description!}</span>
		</div>
	</div>
</div>
