<div class="tabbable">
	<ul class="nav nav-tabs" id="myTab">
		<li class="active"><a data-toggle="tab" href="#home"> <i
				class="green ace-icon fa fa-graduation-cap bigger-120"></i> 角色列表
		</a></li>

		<li class=""><a data-toggle="tab" href="#profile">
		<i class="green ace-icon fa fa-plus bigger-120"></i> 角色添加
		</a></li>
	</ul>

	<div class="tab-content">
		<div id="home" class="tab-pane active clearfix">
			<form action="${rootPath}/role/list" method="post" id="search-form" 
			target="list-page" class="clearfix">
				<div class="pull-left width-30">
					<label>数据范围：</label>
					<#dict width="60%" type="sys_data_scope" isDefault="yes" name="dataScope"/>
				</div>
				<div class="pull-left width-30">
					<label>角色名称：</label>
					<input type="text" class="width-70" name="name"/>
				</div>
				<input type="hidden" value="0" name="delFlag" />
				<div class="pull-left"><span class="btn btn-info btn-sm " id="search-btn">查 询</span></div>
			</form>
			<hr/>
			<div id="list-page"></div>
			<script type="text/javascript">
				$("#search-form").getPageList({'submitBtnId':'search-btn'})
			</script>
		</div>

		<div id="profile" class="tab-pane">
			<form action="${rootPath!}/role/save" method="post" id="role-save-form" class="padding-10">
				<table class="EditTable">
					<tbody>
						<tr class="FormData">
							<td class="CaptionTD">归属机构：</td>
							<td class="DataTD">
							<#treeselect url="office/tree" modelId="officeId" 
								class="width-50" isCheck="请选择归属机构" />
							</td>
						</tr>
						<tr class="FormData">
							<td class="CaptionTD">角色名称：</td>
							<td class="DataTD">
							<input type="text" class="" name="name" datatype="*"  nullmsg="请输入角色名称！"/>
							</td>
						</tr>
						<tr class="FormData">
							<td class="CaptionTD">数据范围：</td>
							<td class="DataTD width-100">
								<#dict type="sys_data_scope" width="50%" id="chosenSelectData" 
								name="dataScope" isScript="true">
									$("#chosenSelectData").change(function(){
										if($(this).val() == 9){
											$("#treeSelectOffice").show();
										}else{
											$("#treeSelectOffice").hide();
										}
									})
									$("#chosenSelectData option[value='9']").attr("selected",true);
									$("#chosenSelectData").trigger("chosen:updated");
								</#dict>
								<span class="red width-50"> 特殊情况下,设置为"按明细设置",可进行跨机构授权</span>
							</td>
						</tr>
						<tr class="FormData">
							<td class="CaptionTD" style="vertical-align: top;">角色授权：</td>
							<td class="DataTD">
								<#treeselect url="menu/tree" checked="true" isLayer="false" rootNodeName="权限列表"
									class="width-50" treeSelectId="treeSelectRes">
									<div id="treeSelectRes" style="width: 40%;display: inline-block;vertical-align: top;float: left"></div>
								</#treeselect>
								<#treeselect url="office/tree" checked="true" isLayer="false" rootNodeName="机构列表"
									class="width-50" treeSelectId="treeSelectOffice">
									<div id="treeSelectOffice" style="width: 50%;display: inline-block;vertical-align: top;float: left"></div>
								</#treeselect>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="margin-t15">
					<span class="btn btn-info btn-block bigger-120" id="role-save-btn">保 存</span>
				</div>
			</form>
		</div>
	</div>
</div>

<#save isHide="yes" subBtnId="role-save-btn" formId="role-save-form" config="true" validId="roleForm">
	var permission = getCheckbox(treeSelectRes);
	var office = getCheckbox(treeSelectOffice);
	var data = $("#role-save-form").serialize()+"&resourceIds="+permission.toString()+
				"&officeIds="+office.toString();
	roleForm.config({
		 ajaxpost:{
			 data:data
		 }
	});
</#save>
