
<ul id="menu">
    <li><a href="/menu" class="ajaxy ajaxy-page">Learn about Apricots</a></li>
    <li><a href="./pages/bananas.html" class="ajaxy ajaxy-page">Lean about Bananas</a></li>
    <li><a href="./pages/coconuts.html" class="ajaxy ajaxy-page">Learn about Coconuts</a></li>
    <li><a href="./pages/durians.html#yummy" class="ajaxy ajaxy-page">Learn about Durians</a></li>
</ul>
<div id="result">
    <div id="content" style="max-height:100px;overflow:auto;"></div>
    <div id="current"></div>
</div>
