<div class="tabbable">
	<ul class="nav nav-tabs" id="myTab">
		<li class="active"><a data-toggle="tab" href="#home"> <i
				class="green ace-icon fa fa-home bigger-120"></i> 角色列表
		</a></li>

		<li class=""><a data-toggle="tab" href="#profile"> 角色添加
		</a></li>
	</ul>

	<div class="tab-content">
		<div id="home" class="tab-pane active clearfix">
			<form action="${rootPath}/dict/list" method="post" id="search-form" target="list-page" class="clearfix">
				<div class="pull-left width-25">
					<label>类型：</label>
					<#dict width="60%" showType="${true}" isDefault="yes" />
				</div>
				<div class="pull-left width-30">
					<label>描述：</label>
					<input type="text" class="width-80" name="description"/>
				</div>
				<input type="hidden" value="0" name="delFlag" />
				<div class="pull-left"><button class="btn btn-info btn-sm " id="search-btn">查 询</button></div>
			</form>
			<hr/>
			<div id="list-page"></div>
			<script type="text/javascript">
				$("#search-form").getPageList({'submitBtnId':'search-btn'})
			</script>
		</div>

		<div id="profile" class="tab-pane">
			<form action="${rootPath!}/role/save" method="post" id="dict-save-form">
				<div class="center padding-10">
					<label>归属机构：</label>
					<#treeselect url="office/tree" 
							curId="${office.id!}" modelId="officeId" class="width-50"
							style="style='display: inline-block;vertical-align: middle;'"/>
				</div>
				<div class="center padding-10">
					<label>角色名称：</label>
					<input type="text" class="width-50" name="name" datatype="*"  nullmsg="请输入标签！"/>
				</div>
				<div class="center padding-10">
					<label>数据范围：</label>
					<div class="width-50" style="display: inline-block;text-align: left;">
					<#dict type="sys_data_scope" width="50%" id="chosenSelectData" name="dataScope" isScript="true">
						$("#chosenSelectData").change(function(){
							if($(this).val() == 9){
								$("#treeSelectOffice").show();
							}else{
								$("#treeSelectOffice").hide();
							}
						})
						$("#chosenSelectData option[value='9']").attr("selected",true);
						$("#chosenSelectData").trigger("chosen:updated");
					</#dict>
					<span class="red width-40">*按明细设置，可跨机构</span>
					</div>
				</div>
				<div class="center padding-10">
					<label>角色授权：</label>
					<div class="clearfix" style="width: 50%;display: inline-block;vertical-align: top;">
						<#treeselect url="menu/tree" checked="true" isLayer="false" rootNodeName="权限列表"
							class="width-50" treeSelectId="treeSelectRes">
							<div id="treeSelectRes" style="width: 50%;display: inline-block;vertical-align: top;float: left"></div>
						</#treeselect>
						<#treeselect url="office/tree" checked="true" isLayer="false" rootNodeName="机构列表"
							class="width-50" treeSelectId="treeSelectOffice">
							<div id="treeSelectOffice" style="width: 50%;display: inline-block;vertical-align: top;float: right"></div>
						</#treeselect>
					</div>
				</div>
				<div class="margin-t15">
					<button class="btn btn-info btn-block bigger-120" id="dict-save-btn">保 存</button>
				</div>
			</form>
		</div>
	</div>
</div>
<#save isHide="yes" subBtnId="dict-save-btn" formId="dict-save-form" />
