<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.template.web.dao.SysAreaMapper">

	<sql id="sysAreaColumns">
		id,code,create_by,create_date,del_flag,name,parent_id,parent_ids,remarks,type,update_by,update_date
	</sql>

	<sql id="where">
		<where>
			<if test=" id!=null and id!='' ">id=#{id}</if>
			<if test=" code!=null and code!='' ">and code=#{code}</if>
			<if test=" createBy!=null and createBy!='' ">and create_by=#{createBy}</if>
			<if test=" createDate!=null and createDate!='' ">and create_date=#{createDate}</if>
			<if test=" delFlag!=null and delFlag!='' ">and del_flag=#{delFlag}</if>
			<if test=" name!=null and name!='' ">and name=#{name}</if>
			<if test=" parentId!=null and parentId!='' ">and parent_id=#{parentId}</if>
			<if test=" parentIds!=null and parentIds!='' ">and parent_ids=#{parentIds}</if>
			<if test=" remarks!=null and remarks!='' ">and remarks=#{remarks}</if>
			<if test=" type!=null and type!='' ">and type=#{type}</if>
			<if test=" updateBy!=null and updateBy!='' ">and update_by=#{updateBy}</if>
			<if test=" updateDate!=null and updateDate!='' ">and update_date=#{updateDate}</if>
		</where>
	</sql>

	<!-- 新增sysArea -->
	<insert id="insertSysArea" keyProperty="id" useGeneratedKeys="true">
		insert into sys_area(
		<include refid="sysAreaColumns" />
		) values (
		#{id,jdbcType=NUMERIC},
		#{code,jdbcType=VARCHAR},
		#{createBy,jdbcType=VARCHAR},
		#{createDate,jdbcType=TIMESTAMP},
		#{delFlag,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{parentId,jdbcType=VARCHAR},
		#{parentIds,jdbcType=VARCHAR},
		#{remarks,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR},
		#{updateBy,jdbcType=VARCHAR},
		#{updateDate,jdbcType=TIMESTAMP})
	</insert>

	<!-- 修改sysArea -->
	<update id="updateSysArea">
		update sys_area
		<set>
			<if test="code!=null">code=#{code},</if>
			<if test="createBy!=null">create_by=#{createBy},</if>
			<if test="createDate!=null">create_date=#{createDate},</if>
			<if test="delFlag!=null">del_flag=#{delFlag},</if>
			<if test="name!=null">name=#{name},</if>
			<if test="parentId!=null">parent_id=#{parentId},</if>
			<if test="parentIds!=null">parent_ids=#{parentIds},</if>
			<if test="remarks!=null">remarks=#{remarks},</if>
			<if test="type!=null">type=#{type},</if>
			<if test="updateBy!=null">update_by=#{updateBy},</if>
			<if test="updateDate!=null">update_date=#{updateDate}</if>
		</set>
		where id=#{id}
	</update>

	<!-- 根据id查询单个sysArea -->
	<delete id="deleteSysArea" parameterType="java.lang.Long">
		delete from sys_area
		where id=#{id}
	</delete>

	<!-- 根据id集合删除多个sysArea -->
	<delete id="deleteSysAreas" parameterType="java.util.List">
		DELETE FROM sys_area WHERE id IN
		<foreach item="id" index="index" collection="list" open="("
			separator="," close=")">
			#{id,jdbcType=NUMERIC}
		</foreach>
	</delete>

	<!-- 根据id查询单个sysOrganization -->
	<select id="findSysAreaById" resultType="com.template.web.model.SysArea">
		select
		<include refid="sysAreaColumns" />
		from sys_area
		where id=#{id}
	</select>

	<!-- 根据条件查询查询sysOrganization列表 -->
	<select id="findSysAreaListByParams" resultType="com.template.web.model.SysArea">
		select
		<include refid="sysAreaColumns" />
		from sys_area
		<include refid="where" />
	</select>

</mapper>
