<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.template.web.sys.mapper.SysResourceMapper">

	<sql id="sysResourceColumns">
		id,code,common,description,icon,name,parent_id,pos,sort,status,type,url,parent_ids,
		update_by,update_date,create_by,create_date,del_flag
	</sql>

	<sql id="AliasColumns">
		sr.id,sr.code,sr.description,sr.icon,sr.name,sr.parent_id,sr.sort,
		sr.status,sr.type,sr.url,sr.common,sr.pos,sr.parent_ids,sr.del_flag
	</sql>
	
	<!-- 修改父节点字符串 -->
	<update id="updateParentIds">
		update sys_resource
		set parent_ids = REPLACE(parent_ids, #{oldParentIds}, #{parentIds}) 
		where parent_ids like CONCAT( '%,' , #{id} , ',%' ) 
	</update>

	<!-- 根据节点Id删除底下全部子节点包括孙子节点 -->
	<delete id="deleteIdsByRootId">
		delete from sys_resource where FIND_IN_SET(#{id},parent_ids) or id = #{id}
	</delete>
	
	<!-- 查找偏移量最大的权限码和偏移量 -->
	<select id="findMaxCodeAndMaxPos" resultType="com.template.web.sys.model.SysResource">
		select max(t1.code) code,max(t1.pos) pos from sys_resource t1
		where t1.pos = (select max(t2.pos) from sys_resource t2)
	</select>
	
	<!-- 菜单管理分页显示筛选查询 -->
	<select id="findPageInfo" resultType="com.template.web.sys.model.SysResource">
		select sr.id,sr.code,sr.description,sr.icon,sr.name,sr.sort,sr.common,sr.pos,
		sr.status,sr.type,sr.url,srp.name pname,srp.id pid
		from sys_resource sr
		left join sys_resource srp
		ON sr.parent_id=srp.id
		<where>
			<if test="name != ''">
				sr.name like concat( '%' , #{name} , '%' )
			</if>
			<if test="id != 0 and @Ognl@isBlank(name) and @Ognl@isNotBlank(id) "> 
				FIND_IN_SET(#{id},sr.parent_ids) or sr.id = #{id}
			</if>
		</where>
		ORDER BY sr.update_date desc
	</select>

</mapper>
