<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.template.web.sys.mapper.SysRoleMapper">
	
	<sql id="sysRoleColumns">
		id,create_by,create_date,data_scope,del_flag,name,office_id,remarks,update_by,update_date
	</sql>
	
	<!-- 添加角色的权限 -->
	<insert id="insertRoleResource">
		insert into sys_role_resource (role_id,resource_id) values
		<foreach collection="resourceIds" index="index" item="resourceId" separator=",">
			(#{id},#{resourceId,jdbcType=NUMERIC})
		</foreach>
	</insert>
	
</mapper>
