<!-- basic scripts -->

		<!--[if !IE]> -->
		<script src="${ctxPath!}/static/jquery/jquery-2.1.1.min.js"></script>
		<!-- <![endif]-->

		<!--[if IE]>
		<script src="${ctxPath!}/static/jquery/jquery-1.11.1.min.js"></script>
		<![endif]-->

		<!--[if !IE]> -->
		<script type="text/javascript">
			window.jQuery || document.write("<script src='${ctxPath!}/static/jquery.min.js'>"+"<"+"/script>");
		</script>
		<!-- <![endif]-->

		<!--[if IE]>
		<script type="text/javascript">
		 window.jQuery || document.write("<script src='${ctxPath!}/static/jquery1x.min.js'>"+"<"+"/script>");
		</script>
		<![endif]-->

		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='${ctxPath!}/static/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="${ctxPath!}/static/bootstrap/bootstrap.min.js"></script>

		<!-- ace scripts -->
		<script src="${ctxPath!}/static/ace/js/ace-elements.min.js"></script>
		<script src="${ctxPath!}/static/ace/js/ace.min.js"></script>
		${layoutContent!}
		<script type="text/javascript">
			window.onload=function(){
				$("#ace-settings-sidebar").trigger("click");//固定左侧菜单
				$("#ace-settings-navbar").trigger("click");//固定头部导航栏
				$("#ace-settings-breadcrumbs").trigger("click");//固定子菜单
			};
			//菜单
			var $curmenu;
			$(function(){
				var a = $("#sidebar-menu a[id]");
				a.on("click",function(){
					$this = $curmenu = $(this),pli = $this.parents("li");
					var $sibling = $this.closest("li[data-level='1']").siblings("li.open");
					$("#sidebar-menu").find("li").removeClass("active");
					$sibling.removeClass("open").find("li.open").removeClass("open");
					$sibling.find("ul.nav-show").attr("class","submenu nav-hide").hide();
					pli.addClass("active");
					var mtext = pli.find("span.menu-text");
					$("#breadcrumb").empty();
					mtext.each(function(i){
						var last = '';
						if(i==mtext.length-1) last = 'blue';
						$("#breadcrumb").append("<li class='active "+last+"'>"+$(this).text()+"</li>");
					})
				});
				var triggerMenu = getQueryString("menuid");
				if(null != triggerMenu) $("#"+triggerMenu).trigger('click');
			})
		</script>
	</body>
</html>