
<form action="aa" id="test" method="post">
<input type="button" value="aaaa">
</form>

<script>
$(function(){
	$("#test").Validform({
		btnSubmit:"#tessst",
		ajaxPost : true
	})
})
</script>


<div class="clearfix ${class}" style="${style}">
	<input class="form-control pull-left" style="width:${inputWidth}%!important;;" type="text" readonly
	id="${nameId}" name="${modelName}" value="${modelNameValue}"
	@if(!isEmpty(isCheck)){
		datatype="*"  nullmsg=${isCheck}
	@}
	>
	<span class="input-group-btn pull-left width-20">
		<span class="btn btn-sm btn-purple width-100" type="button" style="height: 34px;"
		data-mode="page" data-url="${rootPath}/tag/treeselect"
		data-data="{url:'${url}',id:'${id}',nameId:'${nameId}',pIdKey:'${pIdKey}',selectIds:'${selectIds}',curId:'${curId}',checked:'${checked}',rootNodeName:'${rootNodeName}',isLayer:'${isLayer}'}" 
		data-title="请选择" data-width="${width!}" data-height="${height}">
			<i class="ace-icon fa fa-search bigger-110"></i>查找
		</span>
	</span>
	<input type="hidden" name="${modelId}" id="${id}" value="${modelIdValue}"/>
</div>



<div class="center padding-10">
					<label class="">归属机构：</label>
					<#treeselect url="office/tree" 
							modelId="officeId" class="width-50"
							isCheck="请选择归属机构"
							/>
				</div>
				<div class="center padding-10">
					<label>角色名称：</label>
					<input type="text" class="width-50" name="name" datatype="*"  nullmsg="请输入角色名称！"/>
				</div>
				<div class="center padding-10">
					<label>数据范围：</label>
					<div class="width-50" style="display: inline-block;text-align: left;">
					<#dict type="sys_data_scope" width="40%" id="chosenSelectData" name="dataScope" isScript="true">
						$("#chosenSelectData").change(function(){
							if($(this).val() == 9){
								$("#treeSelectOffice").show();
							}else{
								$("#treeSelectOffice").hide();
							}
						})
						$("#chosenSelectData option[value='9']").attr("selected",true);
						$("#chosenSelectData").trigger("chosen:updated");
					</#dict>
					<span class="red width-50"> 特殊情况下,设置为"按明细设置",可进行跨机构授权</span>
					</div>
				</div>
				<div class="center padding-10">
					<label>角色授权：</label>
					<div class="clearfix" style="width: 50%;display: inline-block;vertical-align: top;">
						<#treeselect url="menu/tree" checked="true" isLayer="false" rootNodeName="权限列表"
							class="width-50" treeSelectId="treeSelectRes">
							<div id="treeSelectRes" style="width: 50%;display: inline-block;vertical-align: top;float: left"></div>
						</#treeselect>
						<#treeselect url="office/tree" checked="true" isLayer="false" rootNodeName="机构列表"
							class="width-50" treeSelectId="treeSelectOffice">
							<div id="treeSelectOffice" style="width: 50%;display: inline-block;vertical-align: top;float: right"></div>
						</#treeselect>
					</div>
				</div>