<div>
<div class="profile-user-info profile-user-info-striped" >
	<div class="profile-info-row">
		<div class="profile-info-name">类型</div>
		<div class="profile-info-value">
			<span class="editable editable-click">
			${dict.getDictByTypeAndValue("sys_log_type",sysLog.type).label}
			</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">异常</div>
		<div class="profile-info-value">
			<span class="editable editable-click">${sysLog.exception!}</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">描述</div>
		<div class="profile-info-value">
			<span class="editable editable-click">
			${sysLog.description!}
			</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">操作方式</div>
		<div class="profile-info-value">
			<span class="editable editable-click">${sysLog.method!}</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">参数</div>
		<div class="profile-info-value">
			<span class="editable editable-click">${sysLog.params!}</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">请求URI</div>
		<div class="profile-info-value">
			<span class="editable editable-click">${sysLog.requestUri!}</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">创建者</div>
		<div class="profile-info-value">
			<span class="editable editable-click">
			${sysLog.createBy!}
			</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">创建时间</div>
		<div class="profile-info-value">
			<span class="editable editable-click">
			${sysLog.createDate!}
			</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">操作IP地址</div>
		<div class="profile-info-value">
			<span class="editable editable-click">
			${sysLog.remoteAddr!}
			</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">用户代理</div>
		<div class="profile-info-value">
			<span class="editable editable-click">
			${sysLog.userAgent!}
			</span>
		</div>
	</div>
</div>
</div>