<div>
<div class="profile-user-info profile-user-info-striped" >
	<div class="profile-info-row">
		<div class="profile-info-name">名称</div>
		<div class="profile-info-value">
			<span class="editable editable-click">${area.name!}</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">区域编码</div>
		<div class="profile-info-value">
			<span class="editable editable-click">${area.code!}</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">区域类型</div>
		<div class="profile-info-value">
			<span class="editable editable-click">
			<#dict dictMode="showName" value="${area.type!}" type="sys_area_type"/>
			</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">父级区域</div>
		<div class="profile-info-value">
			<span class="editable editable-click">${pArea.name!}</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">创建者</div>
		<div class="profile-info-value">
			<span class="editable editable-click">${area.createBy!}</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">创建时间</div>
		<div class="profile-info-value">
			<span class="editable editable-click">
			${area.createDate!}
			</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">更新者</div>
		<div class="profile-info-value">
			<span class="editable editable-click">
			${area.updateBy!}
			</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">更新时间</div>
		<div class="profile-info-value">
			<span class="editable editable-click">
			${area.updateDate!}
			</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name">备注</div>
		<div class="profile-info-value">
			<span class="editable editable-click">${area.remarks!}</span>
		</div>
	</div>
</div>
</div>