<table class="table table-striped table-bordered table-hover nomargin-bottom">
	<thead>
		<tr>
			<th class="center">菜单ID</th>
			<th class="center">菜单名称</th>
			<th class="center">菜单url</th>
			<th class="center">父级菜单</th>
			<th class="center">资源类型</th>
			<th class="center">权限类型</th>
			<th class="center">菜单图标</th>
			<th class="center">菜单序号</th>
			<th class="center">使用状态</th>
			<th class="center">操作</th>
		</tr>
	</thead>

	<tbody>
		@for(menu in page.list){
			<tr>
				<td class="center">${menu.id}</td>
				<td class="center">
					<a href="javascript:;" title="查看<${menu.name!}>详情"
						cus-mode="detail" cus-title="<${menu.name!}>详情"
						cus-backfill-url="${adminPath}/menu/detail/showlayer" 
						cus-backfill-data="{resourceId:'${menu.id}'}"
						cus-width="350" cus-maxHeight="600"
					>${menu.name}</a>
				</td>
				<td class="center">
					${ menu.url!}
				</td>
				<td class="center">
					${menu.pname! }
				</td>
				<td class="center">
					${decode(menu.type,0,'菜单资源','按钮资源')}
				</td>
				<td class="center">
					${decode(menu.common,0,'权限','公共')}
				</td>
				<td class="center">
					@if(isEmpty(menu.icon)){
						<span class='pink'>无</span>
					@}else{
						<i class='ace-icon fa ${menu.icon} blue bigger-120'></i>
					@}
				</td>
				<td class="center">
					${menu.sort}
				</td>
				<td class="center">${decode(menu.status,0,"正常","禁用")}</td>
				<td class="center">
					<div class="hidden-sm hidden-xs action-buttons">
						<a class="green" href="javascript:void(0);" 
							cus-mode="edit" cus-title="<${menu.name!}>编辑"
							cus-backfill-url="${adminPath}/menu/edit/showlayer" 
							cus-backfill-data="{resourceId:'${menu.id}',pResourceId:'${menu.pid}'}"
							cus-width="500" cus-maxHeight="600"
							cus-formId="menu-addorupdate"
							cus-mode-success="reloadUrl();"
						>
							<i class="ace-icon fa fa-pencil bigger-130"></i>
						</a>

						<a class="red" href="javascript:void(0);" 
							cus-mode="delete"
							cus-text="你确定删除<${menu.name!}>节点及其所有的子节点吗?(慎重操作)"
							cus-delParam-url="${adminPath}/menu/dels"
							cus-delParam-data="{resourceId:'${menu.id}'}"
							cus-mode-success="reloadUrl();"
						>
							<i class="ace-icon fa fa-trash-o bigger-130"></i>
						</a>
					</div>
				</td>
			</tr>
		@}
	</tbody>
</table>
<div class="space-8"></div>
<#paginate page="${page}" formId="${formId}" />
